.main-book a {
  color: var(--theme-color);
}

.main-book .main-btn {
  background-color: var(--theme-color);
}

.main-book .sec-btn:hover {
  border-color: var(--theme-color);
  color: var(--theme-color);
}

.main-book #dropzone {
  border: 2px dashed var(--theme-color);
}

.main-book {
  scrollbar-color: var(--theme-color) #f2f2f2 !important;
}

.parentClassV3 {
  scrollbar-color: var(--main-color-book) #f2f2f2;
}

#new-brandbook-form {
  z-index: 10000;
}

#modal-choose-plan {
  z-index: 1060;
}

.footer-icon {
  align-self: center;
}

.parentClassV3 section>*:not([class*="bg"]) {
  position: relative;
  z-index: 1
}

.parentClassV3 {

  .four-elements.default-block>*,
  .three-elements.default-block>* {
    width: 70%;
    height: 70%;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 7.5%;
  }

  .four-elements.default-block>img:nth-child(n+5) {
    display: none !important;
  }

  .zero-line .default-block:nth-of-type(2),
  aside .default-block:nth-of-type(2) {
    width: 100%
  }

  .grid-container-clear2>div>img {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 796px) {
    .four-elements.default-block>* {
      height: 70px;
      margin: 0;
      width: 100%;
    }
  }

  .simple-line-wrapper,
  .masonry-item:empty {
    display: none !important;
  }

  div.gap-3 {
    gap: 15px !important;
  }

  #main-book .first-line>.wrapper-default-block:only-child {
    max-width: unset !important;
  }

  @media screen and (min-width: 768px) {
    .zero-line>.wrapper-default-block:only-child .default-block:nth-of-type(2) {
      height: calc(100vh - 300px);
      width: 100%;
    }

    #main-book .first-line>.wrapper-default-block:only-child .four-elements {
      display: flex;
      align-items: center;
    }

    #main-book .first-line>.wrapper-default-block:only-child .four-elements img {
      flex-grow: 1 !important;
      width: unset !important;
      max-height: 100%;
    }

    #main-book .first-line>.wrapper-default-block:only-child .four-elements img:nth-of-type(n + 4) {
      display: none !important;
    }

    #main-book .first-line>.wrapper-default-block:only-child .four-elements::before {

      left: 33.3333333%;
    }

    #main-book .first-line>.wrapper-default-block:only-child .four-elements::after {
      height: 100%;
      width: 1px;
      top: 0px;
      bottom: 0px;
      left: 66.666666666%;
      right: auto !important;
      transform: none
    }
  }

  .block-download .logo-block-v3 {
    padding: 16%;
  }

  .default-block.colors-block .title>span,
  .default-block.colors-block .color-value {
    opacity: 0;
    transition: all 300ms linear
  }

  .default-block.colors-block:hover .title>span,
  .default-block.colors-block:hover .color-value {
    opacity: 1;
  }

  @media screen and (max-width: 576px) {
    nav.navbar .logo svg {
      max-width: 50px;
    }
  }
}